.about-section-container {
  margin-top: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-background-image-container {
  position: absolute;
  left: -150px; /* Ajusta según el espacio que necesitas */
  z-index: -2;
  width: 30%; /* Controla el tamaño de la imagen en relación al contenedor */
}

.about-section-image-container img {
  max-width: 90%; /* Mantiene el tamaño proporcional dentro del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.about-section-image-container {
  flex: 1;
  margin-right: 1rem;
}

.about-section-text-container {
  flex: 2; /* Ajusta el espacio para el texto, si es necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-heading {
  font-size: clamp(2rem, 4vw, 3rem); /* Ajuste del tamaño según el viewport */
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: rgb(52, 117, 202);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  color: #484848;
  background-color: rgb(221, 221, 221);
}
